/* Copyright 2020 SiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef METAL__PLATFORM__UCB_HTIF0_H
#define METAL__PLATFORM__UCB_HTIF0_H

{% if 'ucb,htif0' in devices %}

#define METAL_UCB_HTIF0
#define __METAL_HAS_SHUTDOWN

{% endif %}

#endif
