/* Copyright 2020 SiFive Inc. */
/* Copyright © 2020 Keith Packard */
/*
 * Licensed under the Apache License, Version 2.0 (the “License”); you
 * may not use this file except in compliance with the License. A copy
 * of this license can be found in the LICENSE.Apache2 file included
 * with this software. You may also obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an “AS IS” BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef __METAL__GENERATED__SIFIVE_AON00__H
#define __METAL__GENERATED__SIFIVE_AON00__H

{% include 'template_comment.h.j2' %}

#include <metal/clock.h>
#include <metal/interrupt.h>

{% if 'sifive,aon0' in devices %}
{% set aon = devices['sifive,aon0'][0] %}

{% if 'interrupt_parent' in aon %}
#define AON_INTERRUPT_PARENT ((struct metal_interrupt) { {{ aon['interrupt_parent'][0].id }} })
{% else %}
#define AON_INTERRUPT_PARENT ((struct metal_interrupt){0})
{% endif %}
{% if 'clocks' in aon %}
#define AON_CLOCK ((struct metal_clock) { {{ aon['clocks'][0].id }} })
{% else %}
#define AON_CLOCK ((struct metal_clock){0})
{% endif %}
{% if 'interrupts' in aon %}
#define AON_WDOG_INTERRUPT_ID {{ aon['interrupts'][0] }}
#define AON_RTC_INTERRUPT_ID {{ aon['interrupts'][1] }}
{% else %}
#define AON_WDOG_INTERRUPT_ID 0
#define AON_RTC_INTERRUPT_ID 0
{% endif %}

{% if aon.interrupt_parent is defined %}
{% set driver_string = to_snakecase(aon.interrupt_parent[0].compatible[0]) %}
{% include 'interrupt_dispatch.h.j2' %}
{% endif %}

{% if aon.clocks is defined %}
{% set driver_string = to_snakecase(aon.clocks[0].compatible[0]) %}
{% include 'clock_dispatch.h.j2' %}
{% endif %}

{% endif %}

#endif

