/* Copyright 2020 SiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef METAL__DRIVERS__SIFIVE_FE310_G000_LFROSC_CLOCK_H
#define METAL__DRIVERS__SIFIVE_FE310_G000_LFROSC_CLOCK_H

{% include 'template_comment.h.j2' %}

#include <metal/clock.h>

{% if 'sifive,fe310-g000,lfrosc' in devices %}
{% set sifive_fe310_g000_lfroscs = devices['sifive,fe310-g000,lfrosc'] %}

#define __METAL_DT_NUM_SIFIVE_FE310_G000_LFROSCS {{ sifive_fe310_g000_lfroscs|length }}

{% if sifive_fe310_g000_lfroscs|length > 1 %}

static const struct dt_sifive_fe310_g000_lfrosc_clock_data {
	struct metal_clock lfrosc;
	struct metal_clock psdlfaltclk;
} dt_clock_data[__METAL_DT_NUM_SIFIVE_FE310_G000_LFROSCS] = {
	{% for clk in sifive_fe310_g000_lfroscs %}
	{
		{% if "clock_names" in clk %}
		.lfrosc = { {{ clk.clocks_by_name["lfrosc"].id }} },
		.psdlfaltclk = { {{ clk.clocks_by_name["psdlfaltclk"].id }} },
		{% elif clk.clocks|length > 1 %}
		.lfrosc = { {{ clk.clocks[0].id }} },
		.psdlfaltclk = { {{ clk.clocks[1].id }} },
		{% else %}
		.lfrosc = { {{ clk.clocks[0].id }} },
		.psdlfaltclk = { {{ clk.clocks[0].id }} },
		{% endif %}
	},
	{% endfor %}
};

#define get_index(clock) ((clock).__clock_index)
#define REF_LFROSC(clock) (dt_clock_data[get_index(clock)].lfrosc)
#define REF_PSDLFALTCLK(clock) (dt_clock_data[get_index(clock)].psdlfaltclk)

{% else %}

#define get_index(clock) 0

{% if "clock_names" in sifive_fe310_g000_lfroscs[0] %}
#define REF_LFROSC(clock) ((struct metal_clock) { {{ sifive_fe310_g000_lfroscs[0].clocks_by_name["lfrosc"].id }} })
#define REF_PSDLFALTCLK(clock) ((struct metal_clock) { {{ sifive_fe310_g000_lfroscs[0].clocks_by_name["psdlfaltclk"].id }} })
{% elif sifive_fe310_g000_lfroscs[0].clocks|length > 1 %}
#define REF_LFROSC(clock) ((struct metal_clock) { {{ sifive_fe310_g000_lfroscs[0].clocks[0].id }} })
#define REF_PSDLFALTCLK(clock) ((struct metal_clock) { {{ sifive_fe310_g000_lfroscs[0].clocks[1].id }} })
{% else %}
#define REF_LFROSC(clock) ((struct metal_clock) { {{ sifive_fe310_g000_lfroscs[0].clocks[0].id }} })
#define REF_PSDLFALTCLK(clock) ((struct metal_clock) { {{ sifive_fe310_g000_lfroscs[0].clocks[0].id }} })
{% endif %}

{% endif %}

{% set driver_string = to_snakecase(sifive_fe310_g000_lfroscs[0].clocks[0].compatible[0]) %}
{% include 'clock_dispatch.h.j2' %}

{% endif %}

#endif
