/* Copyright 2020 SiFive, Inc */
/* Copyright © 2020 Keith Packard */
/*
 * Licensed under the Apache License, Version 2.0 (the “License”); you
 * may not use this file except in compliance with the License. A copy
 * of this license can be found in the LICENSE.Apache2 file included
 * with this software. You may also obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an “AS IS” BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
#ifndef __METAL_DT_WATCHDOG__H
#define __METAL_DT_WATCHDOG__H

{% include 'template_comment.h.j2' %}

{% if 'watchdog' in default_drivers and default_drivers['watchdog'] in devices %}
{% set watchdog_compatible = default_drivers['watchdog'] %}

#define __METAL_DT_NUM_WDOGS {{ devices[watchdog_compatible]|length }}

{% set driver_string = to_snakecase(watchdog_compatible) %}
#define metal_watchdog_run {{ driver_string }}_wdog_run
#define metal_watchdog_set_rate {{ driver_string }}_set_wdog_rate
#define metal_watchdog_get_rate {{ driver_string }}_get_wdog_rate
#define metal_watchdog_set_timeout {{ driver_string }}_set_timeout
#define metal_watchdog_get_timeout {{ driver_string }}_get_timeout
#define metal_watchdog_set_result {{ driver_string }}_set_result
#define metal_watchdog_enable_interrupt {{ driver_string }}_enable_wdog_interrupt
#define metal_watchdog_disable_interrupt {{ driver_string }}_disable_wdog_interrupt
#define metal_watchdog_clear_interrupt {{ driver_string }}_clear_wdog_interrupt

{% else %}
#define __METAL_DT_NUM_WDOGS 0
{% endif %}

#endif /* ! __METAL_DT_WATCHDOG__H */


