#ifndef __METAL_DT_HCA0_TRNG__H
#define __METAL_DT_HCA0_TRNG__H

{% include 'template_comment.h.j2' %}

{% if 'hca' in default_drivers and default_drivers['hca'] in devices %}
{% set hca_compatible = default_drivers['hca'] %}

{% set driver_string = to_snakecase(hca_compatible) %}

{% endif %}

#endif /* ! __METAL_DT_HCA0_TRNG__H */