/* Copyright 2020 SiFive, Inc */
/* Copyright © 2020 Keith Packard */
/*
 * Licensed under the Apache License, Version 2.0 (the “License”); you
 * may not use this file except in compliance with the License. A copy
 * of this license can be found in the LICENSE.Apache2 file included
 * with this software. You may also obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an “AS IS” BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
#ifndef __METAL_DT_BUTTON__H
#define __METAL_DT_BUTTON__H

{% include 'template_comment.h.j2' %}

{% if 'button' in default_drivers and default_drivers['button'] in devices %}
{% set buttons = devices[default_drivers['button']] %}
#define __METAL_DT_NUM_BUTTONS {{ devices[button_compatible]|length }}

{% for button in buttons %}
    {% if 'gpios' in button %}
#define metal_{{ to_snakecase(button.compatible[0]) }}_{{ button.id }}_interrupt_handler metal_{{ to_snakecase(button.gpios[0].compatible[0]) }}_source_{{ button.gpios[1] }}_handler
#define metal_button_{{ to_snakecase(button.label[0]) }}_interrupt_handler metal_{{ to_snakecase(button.gpios[0].compatible[0]) }}_source_{{ button.gpios[1] }}_handler
    {% endif %}
{% endfor %}

{% set driver_string = to_snakecase(default_drivers['button']) %}
#define metal_button_is_pressed {{ driver_string}}_is_pressed
#define metal_button_enable_interrupt {{ driver_string }}_enable_interrupt
#define metal_button_disable_interrupt {{ driver_string }}_disable_interrupt
#define metal_button_clear_interrupt {{ driver_string }}_clear_interrupt

{% for button in buttons %}
#define metal_button_{{ to_snakecase(button.label[0]) }} ((struct metal_button) { {{ button.id }} })
{% endfor %}

{% else %}
#define __METAL_DT_NUM_BUTTONS 0
{% endif %}

#endif /* ! __METAL_DT_BUTTON__H */

