#ifndef __METAL_DT_LED__H
#define __METAL_DT_LED__H

{% include 'template_comment.h.j2' %}

{% if 'led' in default_drivers and default_drivers['led'] in devices %}
{% set leds = devices[default_drivers['led']] %}
#define __METAL_DT_NUM_LEDS {{ leds|length }}

{% set driver_string = to_snakecase(default_drivers['led']) %}
#define metal_led_enable {{ driver_string }}_enable
#define metal_led_on {{ driver_string }}_on
#define metal_led_off {{ driver_string }}_off
#define metal_led_toggle {{ driver_string }}_toggle

{% for led in leds %}
/* {{ led }} */
#define metal_led_{{ to_snakecase(led.label[0]) }} ((struct metal_led) { {{ led.id }} })
{% endfor %}

{% else %}
#define __METAL_DT_NUM_LEDS 0
{% endif %}

#endif /* ! __METAL_DT_LED__H */

