/* Copyright 2020 SiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#include <metal/interrupt_handlers.h>

const metal_exception_handler_t __metal_exception_table[12] = {
    metal_exception_instruction_address_misaligned_handler,
    metal_exception_instruction_address_fault_handler,
    metal_exception_illegal_instruction_handler,
    metal_exception_breakpoint_handler,
    metal_exception_load_address_misaligned_handler,
    metal_exception_load_access_fault_handler,
    metal_exception_store_amo_address_misaligned_handler,
    metal_exception_store_amo_access_fault_handler,
    metal_exception_ecall_from_u_mode_handler,
    metal_exception_ecall_from_s_mode_handler,
    metal_exception_default_handler,
    metal_exception_ecall_from_m_mode_handler,
};

#ifndef METAL_HLIC_VECTORED

{% if local_interrupts is defined %}
#define __METAL_NUM_LOCAL_INTERRUPTS {{ 16 + local_interrupts.irqs|length }}
{% else %}
#define __METAL_NUM_LOCAL_INTERRUPTS 16
{% endif %}

const metal_interrupt_vector_handler_t __metal_vector_table[__METAL_NUM_LOCAL_INTERRUPTS] = {
    __metal_exception_handler,
    metal_riscv_cpu_intc_default_handler,
    metal_riscv_cpu_intc_default_handler,
    metal_riscv_cpu_intc_default_handler,
    metal_riscv_cpu_intc_msip_handler,
    metal_riscv_cpu_intc_default_handler,
    metal_riscv_cpu_intc_default_handler,
    metal_riscv_cpu_intc_default_handler,
    metal_riscv_cpu_intc_mtip_handler,
{% if global_interrupts is defined %}
    metal_riscv_plic0_source_0_handler,
{% else %}
    metal_riscv_cpu_intc_meip_handler,
{% endif %}
    metal_riscv_cpu_intc_default_handler,
    metal_riscv_cpu_intc_default_handler,
    metal_riscv_cpu_intc_default_handler,
    metal_riscv_cpu_intc_default_handler,
{% if local_interrupts is defined %}
{% for irq in local_interrupts.irqs %}
    metal_{{ to_snakecase(irq.source.compatible) }}_source_{{ irq.source.id }}_handler,
{% endfor %}
{% endif %}
};

#endif /* ! METAL_HLIC_VECTORED */

{% if global_interrupts is defined %}

#define __METAL_NUM_GLOBAL_INTERRUPTS {{ global_interrupts.irqs|length }}

const metal_interrupt_handler_t __metal_global_interrupt_table[__METAL_NUM_GLOBAL_INTERRUPTS] = {
{% for irq in global_interrupts.irqs %}
    metal_{{ to_snakecase(irq.source.compatible) }}_source_{{ irq.source.id }}_handler,
{% endfor %}
};

{% else %}

#define __METAL_NUM_GLOBAL_INTERRUPTS 0

{% endif %}
