/* Copyright 2020 SiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef METAL__PLATFORM__SIFIVE_AON0_H
#define METAL__PLATFORM__SIFIVE_AON0_H

{% if 'sifive,aon0' in devices %}

{% for aon in devices['sifive,aon0'] %}
#define METAL_SIFIVE_AON0_{{ loop.index0 }}_BASE_ADDRESS {{ "0x%x" % aon.reg[0][0] }}UL
{% endfor %}

#define METAL_SIFIVE_AON0
#define METAL_SIFIVE_AON0_LFROSCCFG 0x70UL
#define METAL_SIFIVE_AON0_LFCLKMUX  0x7CUL

{% endif %}

#endif
