/* Copyright 2020 SiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef METAL__PLATFORM__SIFIVE_FE310_G000_HFXOSC_H
#define METAL__PLATFORM__SIFIVE_FE310_G000_HFXOSC_H

{% if sifive_fe310_g000_hfxoscs is defined %}

#define METAL_SIFIVE_FE310_G000_HFXOSC

{% endif %}

#endif
