/* Copyright 2020 SiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef METAL__PLATFORM__SIFIVE_FE310_G000_LFROSC_H
#define METAL__PLATFORM__SIFIVE_FE310_G000_LFROSC_H

{% if 'sifive,fe310-g000,lfrosc' in devices %}

#define METAL_SIFIVE_FE310_G000_LFROSC

{% endif %}

#endif
