/* Copyright 2020 SiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef METAL__PLATFORM__SIFIVE_FE310_G000_HFROSC_H
#define METAL__PLATFORM__SIFIVE_FE310_G000_HFROSC_H

{% if 'sifive,fe310-g000,hfrosc' in devices %}

#define METAL_SIFIVE_FE310_G000_HFROSC

{% endif %}

#endif
