
#include <metal/drivers/{{ driver_string }}.h>

/* These defines "redirect" the calls to the public Freedom Metal clock API
 * to the driver for the device at compile time. Since they are the same
 * as the actual public API symbols, when they aren't defined (for instance,
 * if the Devicetree doesn't properly describe what clock drives a device)
 * they will link to the stub functions in src/clock.c
 */

#define metal_clock_get_rate_hz(clock) {{ driver_string }}_get_rate_hz((clock))
#define metal_clock_set_rate_hz(clock, rate) {{ driver_string }}_set_rate_hz((clock), (rate))
