# Copyright 2020 SiFive, Inc
# Copyright © 2020 Keith Packard
#
# Licensed under the Apache License, Version 2.0 (the “License”); you
# may not use this file except in compliance with the License. A copy
# of this license can be found in the LICENSE.Apache2 file included
# with this software. You may also obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an “AS IS” BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied. See the License for the specific language governing
# permissions and limitations under the License.
#
METAL_SRC = \
	{{ c_sources|join(' \\\n        ') }} \
	{{ asm_sources|join(' \\\n        ') }}

METAL_CFLAGS = \
{% for path in source_paths %}
	-I$(ROOT_DIR)/{{ path }} \
{% endfor %}

METAL_MK_DEPEND = \
	$(ROOT_DIR)/{{ devicetree_path }} \
{% for template in templates %}
	$(ROOT_DIR)/{{ template }} \
{% endfor %}

METAL_SRC_PATH = {{ source_dirs|join(':') }}

{% for c in c_sources %}
-include .deps/{{ c|rootname() }}.Po
{% endfor %}

{% for s in asm_sources %}
-include .deps/{{ s|rootname() }}.Po
{% endfor %}
