/* Copyright 2020 SiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef METAL__PLATFORM__FIXED_CLOCK_H
#define METAL__PLATFORM__FIXED_CLOCK_H

{% if 'fixed-clock' in devices %}

#define METAL_FIXED_CLOCK

{% endif %}

#endif
