#ifndef __METAL_PLATFORM__H
#define __METAL_PLATFORM__H

{% include 'template_comment.h.j2' %}

{% for compat in devices %}
#include <metal/machine/{{ to_snakecase(compat) }}.h>
{% endfor %}

#endif /* ! __METAL_PLATFORM__H */
