/* Copyright 2020 SiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef METAL__PLATFORM__SIFIVE_FE310_G000_PLL_H
#define METAL__PLATFORM__SIFIVE_FE310_G000_PLL_H

{% if sifive_fe310_g000_plls is defined %}

#define METAL_SIFIVE_FE310_G000_PLL

{% endif %}

#endif
