/* Copyright 2020 SiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef METAL__PLATFORM__SIFIVE_GPIO_SWITCHES_H
#define METAL__PLATFORM__SIFIVE_GPIO_SWITCHES_H

{% if 'sifive,gpio-switches' in devices %}

#define METAL_SIFIVE_GPIO_SWITCHES

{% endif %}

#endif
