/* Copyright 2020 SiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef METAL__PLATFORM__SIFIVE_GPIO_BUTTONS_H
#define METAL__PLATFORM__SIFIVE_GPIO_BUTTONS_H

{% if 'sifive,gpio-buttons' in devices %}

#define METAL_SIFIVE_GPIO_BUTTONS

{% endif %}

#endif
