/* Copyright 2020 SiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef METAL__PLATFORM__SIFIVE_I2C0_H
#define METAL__PLATFORM__SIFIVE_I2C0_H

{% if 'sifive,i2c0' in devices %}
{% set sifive_i2c0s = devices['sifive,i2c0'] %}

{% for i2c in sifive_i2c0s %}
    {% if i2c.reg_names is defined %}
#define METAL_SIFIVE_I2C0_{{ loop.index0 }}_BASE_ADDRESS {{ '0x%x' % i2c.regs_by_name["control"][0] }}
#define METAL_SIFIVE_I2C0_{{ loop.index0 }}_SIZE {{ '0x%x' % i2c.regs_by_name["control"][1] }}
    {% else %}
#define METAL_SIFIVE_I2C0_{{ loop.index0 }}_BASE_ADDRESS {{ '0x%x' % i2c.reg[0][0] }}
#define METAL_SIFIVE_I2C0_{{ loop.index0 }}_SIZE {{ '0x%x' % i2c.reg[0][1] }}
    {% endif %}
{% endfor %}

#define METAL_SIFIVE_I2C0

#define METAL_SIFIVE_I2C0_PRESCALE_LOW	0x0
#define METAL_SIFIVE_I2C0_PRESCALE_HIGH	0x4
#define METAL_SIFIVE_I2C0_CONTROL	0x8

#define METAL_SIFIVE_I2C0_TRANSMIT	0xC
#define METAL_SIFIVE_I2C0_RECEIVE	0xC

#define METAL_SIFIVE_I2C0_COMMAND	0x10
#define METAL_SIFIVE_I2C0_STATUS	0x10

{% endif %}

#endif
