/* Copyright 2020 SemiFive, Inc */
/* SPDX-License-Identifier: Apache-2.0 */

#ifndef METAL__PLATFORM__SYNOPSYS_I2C0_H
#define METAL__PLATFORM__SYNOPSYS_I2C0_H

{% if 'synopsys_i2c_v2_02a_standard' in devices %}
{% set synopsys_i2c0s = devices['synopsys_i2c_v2_02a_standard'] %}

{% for i2c in synopsys_i2c0s %}
#define METAL_SYNOPSYS_I2C0_{{ loop.index0 }}_BASE_ADDRESS {{ '0x%x' % i2c.regs_by_name["control"][0] }}
#define METAL_SYNOPSYS_I2C0_{{ loop.index0 }}_SIZE {{ '0x%x' % i2c.regs_by_name["control"][1] }}
{% endfor %}

#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_CON 0UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_TAR 4UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_SAR 8UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_DATA_CMD 16UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_SS_SCL_HCNT 20UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_SS_SCL_LCNT 24UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_FS_SCL_HCNT 28UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_FS_SCL_LCNT 32UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_HS_SCL_HCNT 36UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_HS_SCL_LCNT 40UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_INTR_STAT 44UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_INTR_MASK 48UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_RAW_INTR_STAT 52UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_RX_TL 56UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_TX_TL 60UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_CLR_INTR 64UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_CLR_RX_UNDER 68UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_CLR_RX_OVER 72UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_CLR_TX_OVER 76UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_CLR_RD_REQ 80UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_CLR_TX_ABRT 84UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_CLR_RX_DONE 88UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_CLR_ACTIVITY 92UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_CLR_STOP_DET 96UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_CLR_START_DET 100UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_CLR_GEN_CALL 104UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_ENABLE 108UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_STATUS 112UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_SDA_HOLD 124UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_TX_ABRT_SOURCE 128UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_SDA_SETUP 148UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_ACK 152UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_FS_SPKLEN 160UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_HS_SPKLEN 164UL
#define METAL_SYNOPSYS_I2C_V2_02A_STANDARD_IC_HS_MADDR 12UL

{% endif %}

#endif
